body{
background:#0e0e0e;
color:white;
font-family:Arial;
text-align:center;
}

canvas{
border:3px solid white;
background:black;
display:none;
}

#menu{
margin-top:120px;
}

#pause{
display:none;
font-size:50px;
}

#gameOver{
display:none;
}

#mobileControls{
position:fixed;
bottom:20px;
width:100%;
display:flex;
justify-content:space-between;
padding:0 60px;
}

button{
padding:12px 24px;
font-size:18px;
}
